@charset "UTF-8";


body	{
	margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif}

/*サイト名*/
.site h1 a {
	color: #666;
	text-decoration: none;
}
.site h1 a:hover {
	opacity: 0.3;
}
.site h1 {
	margin: 0;
	font-size: 30px;
}
.site img {
	border: none;
}
.site h1 i {
	margin-right: 10px;
}
/*ヘッダー画像*/
.box3 {
/*	max-width: 100%;*/
	height: auto;
	vertical-align: bottom;
}
/*jquery.bgswitcherで背景画像をスライドショー表示*/
.box3 {
	min-height: 600px;
	width: 1140px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.box3 p {
	padding: 10px;
	background: rgba(255, 255, 255, .7);
	filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#B2FFFFFF,endcolorstr=#B2FFFFFF,gradienttype=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FFFFFF,endColorstr=#B2FFFFFF)";
	zoom: 1;
	letter-spacing: 1px;
}
.box3 p + p {
	margin-top: 20px;
}
/*キャッチコピー*/
.catch {
	margin: 0;
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	font-size: 28px;
	border-radius: 5px;
	color: #888;
	margin-top: 5px;
}
/*ヘッダー画像にキャッチコピーを重ねる*/
.top {
	position: relative;
}
.catch {
	position: absolute;
	top: 20%;
	left: 3%;
}
/*概要*/
/*.box4の中にアニメーションをつける*/
.outer {
	width: 100%;
	height: 3em;
	overflow: hidden;
}
.inner {
	margin-top: -3em;
	width: 100%;
	height: 6em;
	background-color: #5288f7;
}
.inner:hover {
	animation:down 1s;
	animation-fill-mode: forwards;
}
@keyframes down {
	100% {
		margin-top: 0em;
	}
}
.inner h1 {
	display: block;
	height: 3em;
}
.gaiyou {
	display: block;
	color: #666;
	text-align: center;
	text-decoration: none;
}
.gaiyou h1 i {
/*display: inline-block;*/
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	margin-right: 10px;
}
.gaiyou h1 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
/*	padding-top: 5px;
	padding-bottom: 5px;*/
	font-size: 20px;
	font-weight: bold;
	background-color: #afeeee;
}
.gaiyou h1 a {
	color: #666;
	text-decoration: none;
}
.gaiyou h1:hover {
	opacity: 0.4;
}
.gaiyou p {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #dcdcdc;
	font-size: 12px;
	border-radius: 5px 5px 0 0;
}
.gaiyou h3 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 13px;
	font-weight: normal;
	background-color: #dcdcdc;
	border-radius: 0 0 5px 5px;
}
.gaiyou p img {
	border-radius: 80%;
}
/*お知らせ*/
.news {
	padding: 20px;
	border: solid 5px #ddd;
}
.news h1 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 18px;
	color: #666;
}
.news h1 i {
	margin-right: 10px;
}
.news ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.news li a {
	display: block;
	padding: 5px;
	border-bottom: dotted 2px #ddd;
	color: #666;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	font-size: 14px;
	text-decoration: none;
}
.news li a:hover {
	background-color: #eee;
}
.news time {
	color: #888;
	font-weight: bold;
}
.news a:after {
	content: "";
	display: block;
	clear: both;
}
.news time {
	float: left;
	width: 100px;
}
.news.text {
	float: none;
	width: auto;
	margin-left: 60px;
}
/* SNSメニュー */
.follow ul	{
	margin: 0;
	margin-right: 20px;
	padding: 0;
	list-style: none;
}
.follow li a	{
	display: block;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
.follow li a:hover	{
	opacity: 0.8;
}
.follow-tw	{
	background-color: #63bafb
}
.follow-fb	{
	background-color: #5288f7
}
.follow i	{
	margin-right: 10px;
	font-size: 24px;
	vertical-align: middle
}
/*補足説明*/
.follow p {
	margin-top: 0;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #ddd;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
}
.follow-info {
	position: relative;
	background: #dddddd;
	color: #666;
}
/*記事*/
.kiji h1 {
	margin-top: 0;
	margin-bottom: 20px;
	padding-left: 20px;
	border-left: solid 20px #c50018;
	font-size: 36px;
	font-weight: normal;
}
.kiji h2 {
	margin-top: 50px;
	margin-bottom: 20px;
	border-bottom: solid 1px #ddd;
	font-size: 28px;
	font-weight: normal;
}
.kiji h2 i {
	margin-right: 7px;
	color: #888;
}
.kiji p {
	max-width: 640px;
	margin-top: 0;
	margin-bottom: 20px;
}
.kiji .lead {
	max-width: 100%;
	font-size: 20px;
	color: #666;
}
.kijiimg {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}
/*サイドメニュー*/
.sidemenu {
	border: solid 6px #ddd;
}
.sidemenu h1 {
	margin: 0;
	padding: 10px;
	font-size: 16px;
	font-weight: normal;
}
.sidemenu h1 i {
	margin-right: 5px;
	color: #8abc60;
	font-size: larger
}
.sidemenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidemenu li a {
	display: block;
	padding: 10px;
	border-top: solid 1px #ddd;
	color: #000;
	font-size: 14px;
	text-decoration: none;
}
.sidemenu li a:hover {
	background-color: #eee;
}
/*コピーライト*/
.copyright p {
	margin: 0;
	color: #666;
	font-size: 14px;
}
/*headerの下に罫線を挿入(コンテンツページのみ）*/
.contents .header {
	border-bottom: solid 1px #ddd;
}
/*footerをバーの形にする*/
.footer {
	border-top: solid 1px #ddd;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #ddd;
}
/*ボックスの左右*/
.header, .box3,.box4, .box5, .box6, .box7, .box8, .box9, .footer {
	padding-left: 15px;
	padding-right: 15px;
}
/*ボックスの上下*/
.header {
	padding-top: 20px;
	padding-bottom: 10px;
}
.box4 {
	padding-top: 20px;
}
.box4-1, .box4-2, .box4-3 {
	padding-bottom: 10px;
	border-radius: 5px;
	border-color: #ccc;
}
.box5 {
	padding: 50px;
}
.box5-1 {
	padding-bottom: 20px;
}

.box7 {
	padding-top: 25px;
	padding-bottom: 25px;
}
.box7 h1 {
	padding-bottom: 10px;
}
.box8 {
	padding-top: 25px;
}
.box8 h1 {
	padding-bottom: 10px;
}
.box9 {
	padding-top: 25px;
}
.box9 h1 {
	padding-bottom: 10px;
}
}

/*お問い合わせページ*/
article {
	margin-left: 45px;
}
article h1 {
	width: 1100px;
	border-left: solid 20px #aaa;
	border-bottom: solid 2px #87cefa;
	font-weight: bold;
	color: #666;
	margin-left: 5px;
	padding-left: 5px;
}
.box8-1 p {
	color: #888;
}
.box8-1 p i {
	margin-right: 10px;
}
.box8-1 h2 {
	color: #aaa;
	font-weight: normal;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.box8 {
	color: #888;
	margin-bottom: 5px;
}
.box8 i {
	margin-right: 10px;
}

.box8-2 {
	margin-top: 30px;
}
.box8-2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.box8-2 li {
	display: block;
	padding: 0;
	color: #888;
	text-decoration: none;
	margin-bottom: 10px;
	border-radius: 5px;
}
.box8-2 li:hover {
	background-color: #eee;
	opacity: 0.8;
}
.box8-2 img {
	width: 100%;
	height: auto;
	border: none;
	vertical-align: bottom;
	border-radius: 5px;
}
.box8-2 .text {
	padding: 10px 10px;
	background-color: rgba(0,0,0,0.3);
	color: #fff;
	border-radius: 5px;
	text-align: center;
}
/*画像と文字を重ねる設定*/
.box8-2 li {
	position: relative;
}
.box8-2 .text {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
input[type="text"] {
	display: block;
	height: 25px;
	width: 300px;
	}
	input[type="email"] {
	height: 25px;
	width: 400px;
	}
input, textarea {
	display: inline-block;
	border-radius: 5px;
	color: #888;
}
input[type="submit"] {
	width: 100px;
	height: 30px;
	background-color: #ade8e6;
	border-radius: 5px;
	color: #666;
	font-weight: bold;
	background-image: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#ade8e6),
		to(#87cefa));
}
input[type="reset"] {
	width: 100px;
	height: 30px;
	background-color: #ade8e6;
	border-radius: 5px;
	color: #666;
	font-weight: bold;
	background-image: -webkit-gradient(
		linear,
		left top, left bottom,
		from(#ade8e6),
		to(#87cefa));
}
textarea {
	width: 400px;
	height: 120px;
	overflow-y: scroll;
}
.pagetop {
	display: inline-block;
	float: right;
	margin-right: 20px;
}
/*診療案内ページ*/

/*テーブルの枠線を表示する*/
table th, table td {
	padding: 23px;
	border: 2px solid #aaa;
}
/*テーブルの幅を指定する*/
table {
	width: 500px;
}
/*デフォルトでは２本で表示されていたテーブルの枠線を１本にする*/
/*captionの位置を下にする*/
table {
	border-collapse: collapse;
}
.under {
		caption-side: bottom;
		margin-top: 10px;
}
.top {
	margin-bottom: 10px;
}
.top i {
	margin-right: 10px;
}
table thead {
	background-color: #ffc0cb;
	color: #666;
}
table thead th:first-child {
	background-color: #fff;
}
table tbody td:first-child {
	background-color: #d3d3d3;
	color: #fff;
}
.color {
	background-color: #fff0f5;
}

table p {
	font-weight: 18px;
	color: #666;
}
.box7-1 {
	margin-top: 10px;
}
.box7-2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.box7-2 li {
	display: block;
	padding: 0;
	color: #888;
	text-decoration: none;
	margin-bottom: 10px;
	border-radius: 5px;
}
.box7-2 li:hover {
	background-color: #eee;
	opacity: 0.8;
}
.box7-2 img {
	width: 100%;
	height: auto;
	border: none;
	vertical-align: bottom;
	border-radius: 5px;
}
.box7-2 .text {
	padding: 10px 10px;
	background-color: rgba(0,0,0,0.2);
	color: #fff;
	border-radius: 5px;
	text-align: center;
}
/*画像と文字を重ねる設定*/
.box7-2 li {
	position: relative;
}
.box7-2 .text {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/*交通アクセスのページ*/

.box9-1 h2 i {
	padding-right: 10px;
	color: #888
}
.box9-1 strong i {
	padding-right: 10px;
	color: #888;
}
.box9-1 ul li i {
	padding-right: 10px;
	color: #888;
}
.box9-1 ul li {
	list-style-type: none;
	color: #888;
}
.box9-1 h2 {
	color: #666;
}
.box9-1 p {
	color: #aaa;
}
.box9-2 {
	width: 20px;
	margin-top: 90px;
}
.mapdisplay {
	margin-right: 0;
}
.subtitle h1 {
	margin-top: 0;
	padding-top: 15px;
}
.box9-3 p {
	border-bottom: solid 2px #aaa;
	padding-bottom: 0;
	color: #888;
	font-weight: bold;
}
.box9-3 p i {
	margin-right: 10px;
}
/* ########### 359px以下 ########### */
@media (max-width: 359px) {
/* サイト名 */
.top {
	width: 225px;
	height: auto;
}
}
/*599px以下*/
@media (max-width: 599px) {
/*ナビゲーション*/
.menu li a {
	padding: 10px 7px;
	font-size: 11px;
}

/*キャッチコピー*/
.catch {
	padding: 5px 10px;
	font-size: 12px;
}
/*記事*/
.kiji h1 {
	font-size: 26px;
}
.kiji h2 {
	font-size: 20px;
}
.kiji .lead {
	font-size: 16px;
}
}
/*767px以下*/
@media (max-width: 767px) {
/*トグルボタン*/
#menubtn {
	padding: 6px 12px;
	border: solid 1px #aaa;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	top: 20px;
	right: 15px;
	cursor: pointer;
}
#menubtn:hover {
	background-color: #ddd;
}
#menubtn:focus {
	outline: none;
}
#menubtn i {
	color: #888;
	font-size: 18px;
}
#menubtn span {
	display: inline-block;
	text-indent: -9999px;
}
/*ナビゲーションメニュー(縦並び)*/
#menu {
	display: none;
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li a {
	display: block;
	padding: 5px;
	color: #666;
	font-size: 14px;
	text-decoration: none;
}
.menu li a:hover {
		color: pink;
		opacity: 0.8;
}
.footer {
	padding-left: 20px;
}
}

/* ########### 768px以上 ########### */
@media (min-width: 768px) {
/*トグルボタン*/
#menubtn {
	display: none;
}
	/*ナビゲーション(横並び)*/
#menu {
		display: block !important;
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu ul li {
	border-right: 1.5px solid #aaa;
}
.menu ul li:first-child {
	border-left: 1.5px solid #aaa;
}
.menu li a {
	display: block;
	padding: 10px 15px;
	color: #888;
	font-size: 16px;
	text-decoration: none;
}
.menu li a:hover {
		color: pink;
		opacity: 0.8;
}
.menu ul:after {
	content: "";
	display: block;
	clear: both;
}
.menu li {
	float: left;
	width: auto;
}
/* BOX1とBOX2を横に並べる設定 */
.header:after	{
	content: "";
	display: block;
	clear: both;
}
.box1	{
	float: left;
	width: auto;
}
.box2	{
	float: right;
	width: auto;
}
/*BOX4-1,BOX4-2,BOX4-3を横に並べる設定*/
.box4:after {
	content: "";
	display: block;
	clear: both;
}
.box4-1 {
	float: left;
	width: 32%;
	margin-right: 2%;
}
.box4-2 {
	float: left;
	width: 32%;
	margin-right: 2%;
}
.box4-3 {
	float: left;
	width: 32%;
}
/* BOX5-1とBOX5-2を横に並べる設定 */
.box5:after	{
	content: "";
	display: block;
	clear: both
}
.box5-1	{
	float: left;
	width: 60%;
	padding-right: 35px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.box5-2	{
	float: left;
	width: 40%;
}
/* (info.html)BOX7-1とBOX7-2を横に並べる設定 */
.box7:after	{content: "";
	display: block;
	clear: both}

.box7-1	{
	float: left;
	width: 50%;
}
.box7-2	{
	float: left;
	width: 50%;
}
/* (contact.html)BOX8-1とBOX8-2を横に並べる設定 */
.box8:after	{
	content: "";
	display: block;
	clear: both
}
.box8-1	{
	float: left;
	width: 50%;
}
.box8-2	{
	float: left;
	width: 50%;
}
/* (access.html)BOX9-1とBOX9-2を横に並べる設定 */
.box9:after	{
	content: "";
	display: block;
	clear: both}

.box9-1	{
	float: left;
	width: 60%;
}
.box9-2	{
	float: left;
	width: 40%;
}
}/* ########### 768px以上ここまで ########### */
/*1190px以上*/
@media (min-width: 1190px) {
/*全体の横幅を固定*/
.box3, .box4, .header-inner, .box5, .box5-inner, .box7, .box8, .box9, .footer {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
/*BOX Aの下に罫線を挿入*/
.header {
	margin-bottom: 20px;
	border-bottom: solid 1px #ddd;
}
/*footerの上に罫線を挿入*/
.footer-inner {
	padding: 30px;
	padding-left: 350px;
}
.footer {
	width: 100%;
	border-top: solid 1px #ddd;
/*	padding: 30px;
	padding-left: 50px;*/
}
}
